/*
Se borro tailwind, en este sistema no se usara tailwind por ningun motivo.
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@keyframes pageFadeInSide {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.page-transition {
    /* Transición de 0.8s mucho más suave y extendida hacia los lados */
    animation: pageFadeInSide 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
